<div class="mt-5">
  <form method="POST">
    <label for="search-input" class="col-sm-2 col-form-label">Enter keyword: </label>
    <div class="col-sm-10 mb-3">
      <input type="text" name="q" class="form-control" id="search-input ">
    </div>

    <label for="search-input" class="col-sm-2 col-form-label">Enter keyword: </label>
    <div class="col-sm-10 mb-3">
      <select type="text" name="gender">
        <option value="">---Choose gender---</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Seach</button>
  </form>
</div>